<%- contentFor('page') %>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Welcome aboard</h6>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/ECE_PARIS_ssvilles.png"
                    alt="">
            </div>
            <p>Engineering projet: Simple web API to work on metrics. This web application allows for authentication, CRUD users and CRUD metrics.</p>
            <a target="_blank" rel="nofollow" href="https://github.com/AlexHff/node-metrics">Learn more on Github &rarr;</a>
        </div>
    </div>
</div>
<!-- /.container-fluid -->