<%- contentFor('page') %>
<!-- Content Row -->
<div class="row">
    <!-- Login -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Login</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form action="/login" method="post">
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username" required="required" />
                        <br />
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" required="required" />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                No account yet? <a href="/signup">Sign up!</a>
            </div>
        </div>
    </div>
</div>