<form action="/new" method="post">
    <div>
        <label>Value:</label>
        <input type="text" name="value" />
        <br />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>