<%- JSON.stringify(metric) %>
<form action="/update" method="post">
    <div>
        <label>Value:</label>
        <input type="text" name="value" />
        <br />
    </div>
    <div>
        <input type="hidden" name="timestamp" value="<%= metric.timestamp %>" />
        <input type="submit" value="Submit" />
    </div>
</form>
<form action="/delete" method="post">
    <div>
        <input type="hidden" name="timestamp" value="<%= metric.timestamp %>" />
        <input type="submit" value="Delete" />
    </div>
</form>